DATABASE_URL=postgres://mvrx:mvrx@localhost:5432/mvrx
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_DRIVE_FOLDER_ID=0AKKJC-_KENtdUk9PVA
JWT_SECRET=change-me-to-a-random-secret
SLACK_WEBHOOK_URL=
