STORAGE_DATABASE_URL=postgres://mvrx:mvrx@localhost:5432/mvrx
GOOGLE_SERVICE_ACCOUNT_EMAIL=mvrx-portal@mvrx-portal.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=the-private-key
GOOGLE_DRIVE_GENERATION_TEMPLATES_FOLDER_ID=19Gv1fiPlWfv7DJFfvB6YAGgRxgH1g9hn
GOOGLE_DRIVE_GENERATED_MATERIALS_FOLDER_ID=1DXTesLdv0LRO_CCmjg5qFBEQdl_zke9F
NEXTAUTH_SECRET=change-me-to-a-random-secret
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your-google-oauth-client-id
GOOGLE_CLIENT_SECRET=your-google-oauth-client-secret
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
